<%= image_tag("logo-fs.png", width: "200px", heigth: "160px", alt: "Logo Econmerce") %>

<p>Explore the future in style. Find the technological accessories and personal details that will transform your daily life.
At Fashion Trends, we fuse innovation and elegance so that each experience is unique. Discover the perfect balance between
technology and style. Welcome to the world of personal possibilities.</p>

